.rodape {
    color: var(--fonte-claro);
    padding: 2rem;
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: #64b5f6;
    cursor: pointer;
}

.rodape a:visited {
    color: #001308;
}

.nome-temp,
.licencas {
    margin-top: 1.2rem;
}
